body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #434455;
  background-color: white;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
}
.logo {
  font-family: Raleway;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo span {
  color: #2e2f42;
}
.link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2%;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.contact-link {
  color: currentColor;
  text-decoration: none;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.service {
  background-color: #2e2f42;
}
.main-title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 2%;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}
.order-service {
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 4%;
}
.order-service:hover,
.order-service:focus {
  background-color: #404bbf;
}
.third-title {
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
}
.our-team {
  background-color: #f4f4fd;
}
.second-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 2%;
  line-height: 40px;
  text-align: center;
}
.emloyers-name {
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
.emloyers-position {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
}
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 2%;
  line-height: 40px;
  text-align: center;
}
.picture-naming {
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
.description {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
}
